
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
 }
 .principale{
     width: 100vw;
     height: 100vh;
     background-color:#58BFC6;
     text-align: center;
 }
 .container {
     padding: 20px;
 }
 h1{
     color: white;
     font-size: 24;
     font-family: bold;
 }
 .image-container{
     margin: 20px auto;
     max-width: 400px;
     margin-top: 100px;
 }
 .image-container img{
     width: 100%;
     border-radius: 10px;
 
 }
 .btn{
     background-color: black;
     display: inline-block;
     margin-top:20px;
     color:#58BFC6;
     border-radius: 25%;
     padding: 15px 30px ;
     text-decoration: none;
     font-size: 15px;
     font-weight: bold;
 }
 .content-main{
     padding: 20 auto;
     width: 50%;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr 2fr;
     gap: 20px;
 }
 .left{
     background-color: #58BFC6;
      /* padding: 20px;  */
     color: black;
     display: flex;
     flex-direction: column;
     justify-content: center; 
     height: 80%;  
 }
 .Profile{
    height: 50vh;
    position: relative;
    margin-bottom: 10%;
    background-color: black;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    text-align: center;
    color: white;
 }
 .img{
     width: 80%;
     height: 50vh;
     margin-left: 10%;
     /* padding: 1px; */
     border-radius: 50%;
 
 }
 .img img{
     object-fit: cover;
     width: 93%;
     clip-path: circle(80);
     height: 65%;
     border-radius: 50%;
 }
 .contact{
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Pour coller les éléments en haut du conteneur */
    align-items: flex-start;
     padding: 10px 0px 0 50px; 
     
    
    
    
    
 }
 .contact p{
     margin: 10px 20px;
     font-size: 13px;
 }
 .en-gras{
     font-weight: 900;
 }
 .formation{
  background-color: black;
  color: white;
  position: relative;
  height: 90vh;
  padding: 20px;
  justify-content: center;
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px ;
  text-align: left;
  margin: 0 5%;
 
 }
 .formation p {
     font-size: 65%;
     padding: 0 15%;

 
 }
 .formation h4 {
 font-size: 65%;
 padding: 0 15%;
 }
 .formation b{
     font-size: 65%;
     padding: 0;
 }
 .my-profil {
    font-size: 24px; /* Tu peux ajuster selon ton besoin */
    color: #58BFC6;
    margin: 10px 0;
    margin-left: 10%;
    font-weight: 900;
}
 .description {
    font-size: 14px; /* Tu ajustes ici aussi */
    line-height: 1.5; /* Pour améliorer la lisibilité */
    margin-left: 2%;
 }
 .titre-cv {
    font-size: 20px; /* Tu peux ajuster selon ton besoin */
    color: #58BFC6;
    margin-left: 10%;
    font-weight: 900;
    margin: 10px 0;
    margin-left: 10%;
}
.job{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 14px;
}
.titre-gras
{
    font-weight: bold;
}
.competences p {
    font-size: 80%;
}
.flex {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    justify-content: space-between;
}
 
 
 
 
 /*
 .image-container {
     margin: 20px auto;
     width: 80%;
     max-width: 400px;
 }
 
 .image-container img {
     width: 100%;
     border-radius: 10px;
 }
 
 .btn {
     display: inline-block;
     margin-top: 20px;
     padding: 15px 30px;
     background-color: black;
     color: white;
     text-decoration: none;
     font-size: 18px;
     border-radius: 25px;
 }
 
 .btn:hover {
     background-color: #333;
 }
 
 */